<div class="table-responsive">
  <table class="array-view table table-striped">
    <thead>
    <tr>
      <th ng-repeat="col in vm.config"
          class="{{col.columnClass}}"
          ng-class="{'text-center' : col.textCenter !== undefined}"
          ng-click="vm.updateSortOrder(col.sortName)">
        <span translate>{{col.header}}</span>
        <span ng-if="col.sortName !== undefined"
              ng-show="vm.sortType === col.sortName" class="fa"
              ng-class="(vm.sortAsc) ? 'fa-caret-up': 'fa-caret-down' ">
        </span>
      </th>
      <th ng-if="vm.openedCallback !== undefined" class="open-column"></th>
      <th ng-if="vm.editedCallback !== undefined" class="edit-column"></th>
      <th ng-if="vm.deletedCallback !== undefined" class="delete-column"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(rowIndex, row) in vm.rows">
      <td ng-repeat="col in vm.config"
          class="vert-align"
          ng-class="{'text-center' : col.textCenter !== undefined,
                     'text-capitalize': col.textCapitalize !== undefined}">

        <!-- URL -->
        <a ng-if="col.type === 'link'" title="{{vm.getValue(row, col.name)}}" href="{{vm.getValue(row, col.url)}}">
          <span ng-bind-html="row[col.name]"></span>
        </a>

        <!-- Text -->
        <span ng-if="col.type === 'text'">{{vm.limitTo(vm.translate(col.translationPrefix, vm.getValue(row, col.name), col.limitTo))}}</span>

        <!-- Image -->
        <a ng-if="col.type === 'image'" ng-class="col.class" uib-popover-html="vm.imagePopup(vm.getValue(row, col.name))" popover-trigger="mouseenter" type="button">
          <img ng-src="{{vm.getValue(row, col.name)}}"/>
        </a>

        <!-- Array -->
        <span ng-if="col.type === 'array'">{{vm.getValue(row, col.name).join(', ')}}</span>

        <!-- Translated Array -->
        <span ng-if="col.type === 'translatedArray'">{{vm.translateArray(row, col.name, col.translationPrefix)}}</span>

        <!-- ArrayOfObject -->
        <span ng-if="col.type === 'arrayOfObject'">{{vm.getValueOfObject(row, col.name, col.field).join(', ')}}</span>

        <!-- Font awesome -->
        <i ng-if="col.type === 'fa'" class="fa" aria-hidden="true" ng-class="vm.getValue(row, col.name)"></i>

         <!-- Boolean -->
        <i ng-if="col.type === 'boolean' && vm.getValue(row, col.name) === true" class="fa fa-check" aria-hidden="true"></i>
        <i ng-if="col.type === 'boolean' && vm.getValue(row, col.name) !== true" class="fa fa-times" aria-hidden="true"></i>

        <!-- Date -->
        <span ng-if="col.type === 'date'" am-time-ago="vm.getValue(row, col.name)" ng-attr-title="{{(vm.getValue(row, col.name)) | amDateFormat:'LLLL'}}"></span>

        <!--score -->
        <small ng-if="col.type === 'score'" class="text-muted">{{vm.getValue(row, col.name) | number : 2}}</small>

        <!--Button -->
        <a ng-if="col.type === 'button' && vm.getValue(row, col.url) != ''" class="btn" href="{{vm.getValue(row, col.url)}}"
           ng-class="vm.buttonClass(col, row)">
          <span translate>{{col.name}}</span>
        </a>

        <!--ButtonWithCallback -->
        <a ng-if="col.type === 'buttonWithCallback'" class="btn" ng-click="vm.callCallback(col, row, rowIndex)"
           ng-class="vm.buttonClass(col, row)">
          <span translate>{{col.name}}</span>
        </a>
      </td>


      <!--Open button -->
      <td ng-if="vm.openedCallback !== undefined" class="vert-align">
        <a class="btn btn-eye" ng-click="vm.openRow(row, $index)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </td>


      <!--Edit button -->
      <td ng-if="vm.editedCallback !== undefined" class="vert-align">
        <a class="btn btn-primary" ng-click="vm.editRow(row, $index)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </td>

      <!--Delete button -->
      <td ng-if="vm.deletedCallback !== undefined" class="vert-align">
        <a class="btn btn-danger" ng-click="vm.deleteRow($index)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </td>
    </tr>

    <tr ng-if="vm.addedCallback !== undefined">
      <td ng-repeat="col in vm.config"
          class="vert-align"
          ng-class="{'text-center' : col.textCenter !== undefined,
                     'text-capitalize': col.textCapitalize !== undefined}">
        <input ng-if="col.type !== 'button'" class="form-control" ng-model="vm.editableModel[$index]"/>
      </td>
      <td class="vert-align">
        <a class="btn btn-primary" ng-click="vm.addRow()">
          <span translate>{{vm.addText}}</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
