.array-view {
  tbody > tr > td.vert-align {
    vertical-align: middle;
  }

  thead > tr > th:focus {
    outline: none;
    user-select: none;
  }

  .delete-column, .edit-column {
    width: 50px;
  }
}
